<!DOCTYPE html>
<html>
	<head>
		<title>Ariq M Kusuma's Site</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'styles/default.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/headerstyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/mainhead.css' %}">
	</head>

<body>
	<header>
		<h3 class="header">Ariq M Kusuma's Site</h3>
		<button class="head" href="index.html">Profile</button>
		<button class="head">Gallery</button>
		<button class="head" href="contact-me/index.html">Contact Me</button>
	</header>

	<div class="mainhead">
		<div class="overlay flex-vertical">
			<div class="profile"></div>
			<h2 class="white centered">Ariq Munif Kusuma</h2>
			<p class="white centered">Depok, October 29th, 1999 &mdash; {{ email }}</p>
		</div>
	</div>

	<div class="flex-horizontal">
		<aside>
			<p class="white">
					Date of Birth	: 10 -29 - 1999<br>
					Place of Birth	: Depok, Indonesia<br>
					Address		: {{ address }}<br>
					Nationality	: Indonesian
			</p>
		</aside>
		
		<div class="flex-vertical">
			<section>
				<h2>Bio</h2>
				<p>A passionate university student with a Computer Science major who is interested in technology, science, art, music, and literature. Highly adaptable to any conditions, personal or inside a team. Preferring to work in a timely manner. Adequately fluent in speaking, reading, and writing in Bahasa Indonesia (Indonesian) and English, and currently learning Japanese, self-taught. Also highly open to any types of critiques and advises.</p>
			</section>
			
			<section>
				<h2>Education</h2>
				<pre>{{ education }}</pre>
			</section>
			
			<section>
				<h2>Experiences</h2>
				<pre>{{ experiences }}</pre>
			</section>
		</div>
	</div>
</body>
</html>
