<!DOCTYPE html>
<html>
	<head>
		<title>Schedule Manager</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'styles/default.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/headerstyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/mainhead.css' %}">
	</head>

<body>
	<header>
		<h3 class="header">Site Manager</h3>
		<button class="head extended" href="../sch_manager/">Schedule Manager</button>
	</header>
	
	<div class="mainhead full">
		<div class="overlay thick-padded flex-vertical">
			<h1 class="white">Schedule Manager</h1>
			<div class="mid-board flex-vertical">
				<p>{{ schedules }}</p>
			</div>
			<form method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</body>
