div.mainhead {
	width: 100%;
	height: 600px;	
	background-image: url("../src/head.jpg");
	background-size: cover;
	background-position: 50%;
}

div.resized {
	height: 450px;
	padding: 0 60px;
}

div.full {
	min-height: 100vh;
	height: auto;
}

div.profile {
	width: 200px;
	height: 200px;
	background-image: url("../src/profile.jpg");
	background-size: cover;
	background-position: 50%;
	border-radius: 50%;
	margin: auto;
	margin-top: 120px;
	margin-bottom: 40px;
}

div.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(59, 36, 97, 0.6);
}
