<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Teman</title>
</head>
<body>
    <header><h1>Profil Teman</h1></header>
    <article><b>{{ name1 }}</b></article>
    <article>NPM    : {{ npm1 }}</article>
    <article>Usia    : {{ age1 }}</article>
    <article><b>{{ name2 }}</b></article>
    <article>NPM    : {{ npm2 }}</article>
    <article>Usia    : {{ age2 }}</article>
</body>
</html>
