* {
	margin: 0px;
	box-sizing: border-box;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 60px;
	color: #47525E;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #47525E;
	padding: 0px;
	margin-bottom: 20px;
}

p, pre {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #47525E;
}

.white {
	color: white;
}

.centered {
	text-align: center;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
}

section {
	background-color: white;
	padding: 30px;
	align-content: stretch;
}

aside {
	background-color: #4B4B4B;
	padding: 10px;
	min-width: 25%;
	align-content: stretch;
}
