header {
	background-color: #4B4B4B;
	height: 52px;
	align-items: center;
	display: flex;
}

h3.header {
	color: white;
	font-family: "Roboto", sans-serif;
	margin: 0 20px;
	vertical-align: middle;
	font-size: 22px;	
	font-weight: bold;
	flex-grow: 1;
}

button.head {
	background-color: #4B4B4B;
	color: white;
	width: 120px;
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	transition: 80ms;
	border: none;
	flex-grow: 0;
}

button.head:hover {
	background-color: #836AD1;
}

button.head:active {
	background-color: #5B4A92;
}
	
	
