div.mainhead {
	width: 100%;
	height: 400px;	
	background-color: rgb(59, 36, 97);
	background-image: url("../src/head.jpg");
	background-size: cover;
	background-position: 50%;
}

div.resized {
	height: 250px;
	padding: 0 60px;
}

div.profile {
	width: 200px;
	height: 200px;
	background-image: url("../src/profile.jpg");
	background-size: cover;
	background-position: 50%;
	border-radius: 50%;
	margin: auto;
}
